python-dateutil
dockerfile-parse
jsonschema
requests
requests-kerberos
six
PyYAML
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-instrumentation-requests
opentelemetry-sdk
otel-extensions
